USE [QLKetQuaHocTap]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[id_subject] [varchar](10) NOT NULL,
	[id_teacher] [varchar](10) NOT NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[id_subject] ASC,
	[id_teacher] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[id] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [varchar](10) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[id_faculty] [varchar](10) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Study_result]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Study_result](
	[id_subject] [varchar](10) NOT NULL,
	[id_student] [varchar](10) NOT NULL,
	[attendance] [float] NOT NULL,
	[midterm_score] [float] NOT NULL,
	[endterm_score] [float] NOT NULL,
	[average_score] [float] NOT NULL,
 CONSTRAINT [PK_Study_result] PRIMARY KEY CLUSTERED 
(
	[id_subject] ASC,
	[id_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[id] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[course_credit] [int] NOT NULL,
	[semester] [int] NOT NULL,
	[id_subject_type] [varchar](10) NOT NULL,
	[id_faculty] [varchar](10) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_type]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_type](
	[id] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Subject_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 19/11/2020 7:28:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[id] [varchar](10) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[address] [nvarchar](250) NOT NULL,
	[day_start] [date] NOT NULL,
	[id_faculty] [varchar](10) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([username], [password], [status]) VALUES (N'1', N'1', 1)
GO
INSERT [dbo].[Assignment] ([id_subject], [id_teacher], [year]) VALUES (N'COMP001', N'0001', 2019)
INSERT [dbo].[Assignment] ([id_subject], [id_teacher], [year]) VALUES (N'COMP001', N'0002', 2019)
INSERT [dbo].[Assignment] ([id_subject], [id_teacher], [year]) VALUES (N'COMP002', N'0001', 2020)
GO
INSERT [dbo].[Faculty] ([id], [name], [address], [status]) VALUES (N'COMP', N'CNTT', N'Phòng B.501, tầng 5 khu B', 1)
INSERT [dbo].[Faculty] ([id], [name], [address], [status]) VALUES (N'ENGL', N'Tiếng Anh', N'Phòng B.404, tầng 5 khu B', 1)
INSERT [dbo].[Faculty] ([id], [name], [address], [status]) VALUES (N'JAPN', N'Tiếng Nhật', N'Phòng B.406 tầng 4 khu B', 1)
GO
INSERT [dbo].[Student] ([id], [password], [fullname], [date_of_birth], [address], [id_faculty], [status]) VALUES (N'4500103094', N'123456', N'Đinh Văn Thanh Phước Khoa', CAST(N'2001-07-05' AS Date), N'Cao Lãnh', N'MILI', 1)
INSERT [dbo].[Student] ([id], [password], [fullname], [date_of_birth], [address], [id_faculty], [status]) VALUES (N'4501101020', N'123456', N'Nguyễn Hoàng Cát', CAST(N'2001-06-14' AS Date), N'Bạc Liêu', N'PHYS', 1)
INSERT [dbo].[Student] ([id], [password], [fullname], [date_of_birth], [address], [id_faculty], [status]) VALUES (N'4501101034', N'123456', N'Hồ Thị Mỹ Dung', CAST(N'2000-03-27' AS Date), N'Hồ Chí Minh', N'PHYS', 1)
GO
INSERT [dbo].[Study_result] ([id_subject], [id_student], [attendance], [midterm_score], [endterm_score], [average_score]) VALUES (N'COMP001', N'4501104096', 10, 10, 10, 10)
INSERT [dbo].[Study_result] ([id_subject], [id_student], [attendance], [midterm_score], [endterm_score], [average_score]) VALUES (N'COMP001', N'4501104103', 10, 8, 8, 8.2)
INSERT [dbo].[Study_result] ([id_subject], [id_student], [attendance], [midterm_score], [endterm_score], [average_score]) VALUES (N'COMP001', N'4501104110', 10, 10, 9, 9.5)
GO
INSERT [dbo].[Subject] ([id], [name], [course_credit], [semester], [id_subject_type], [id_faculty], [status]) VALUES (N'COMP001', N'Lập trình căn bản', 3, 1, N'2', N'COMP', 1)
INSERT [dbo].[Subject] ([id], [name], [course_credit], [semester], [id_subject_type], [id_faculty], [status]) VALUES (N'COMP002', N'Lập trình nâng cao', 3, 2, N'2', N'COMP', 1)
INSERT [dbo].[Subject] ([id], [name], [course_credit], [semester], [id_subject_type], [id_faculty], [status]) VALUES (N'COMP003', N'Lập trình hướng đối tượng', 3, 2, N'2', N'COMP', 1)
GO
INSERT [dbo].[Subject_type] ([id], [name], [status]) VALUES (N'1', N'Tự chọn', 1)
INSERT [dbo].[Subject_type] ([id], [name], [status]) VALUES (N'2', N'Bắt buộc', 1)
GO
INSERT [dbo].[Teacher] ([id], [password], [fullname], [date_of_birth], [address], [day_start], [id_faculty], [status]) VALUES (N'0001', N'123456', N'Trần Hữu Quốc Thư', CAST(N'1980-09-20' AS Date), N'Hoóc Môn', CAST(N'2009-04-20' AS Date), N'COMP', 1)
INSERT [dbo].[Teacher] ([id], [password], [fullname], [date_of_birth], [address], [day_start], [id_faculty], [status]) VALUES (N'0002', N'123456', N'Nguyễn Quang Phúc', CAST(N'1982-10-17' AS Date), N'Lạng Sơn', CAST(N'2013-06-23' AS Date), N'COMP', 1)
INSERT [dbo].[Teacher] ([id], [password], [fullname], [date_of_birth], [address], [day_start], [id_faculty], [status]) VALUES (N'0003', N'123456', N'Nguyễn Viết Hưng', CAST(N'1974-07-02' AS Date), N'Củ Chi', CAST(N'2005-01-25' AS Date), N'COMP', 1)
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Assignment_Subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [FK_Assignment_Subject]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Assignment_Teacher] FOREIGN KEY([id_teacher])
REFERENCES [dbo].[Teacher] ([id])
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [FK_Assignment_Teacher]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Faculty] FOREIGN KEY([id_faculty])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Faculty]
GO
ALTER TABLE [dbo].[Study_result]  WITH CHECK ADD  CONSTRAINT [FK_Study_result_Student] FOREIGN KEY([id_student])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Study_result] CHECK CONSTRAINT [FK_Study_result_Student]
GO
ALTER TABLE [dbo].[Study_result]  WITH CHECK ADD  CONSTRAINT [FK_Study_result_Subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Study_result] CHECK CONSTRAINT [FK_Study_result_Subject]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Faculty] FOREIGN KEY([id_faculty])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Faculty]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Subject_type] FOREIGN KEY([id_subject_type])
REFERENCES [dbo].[Subject_type] ([id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Subject_type]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Faculty] FOREIGN KEY([id_faculty])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Faculty]
GO
